// Color Variables
$primary-color: #0e5108;
$secondary-color: #23e3dd;
$text-color: #5c5c77;
$text-color-light: #0e5108;
$text-color-dark: #23e3dd;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';